# Jupyter
.ipynb_checkpoints/

# Virtual Envs
.env/

# SQL
sql/database
sql/inserts

# SHP
files/ibge/states/*
files/ibge/cities/*
files/ibge/census-sectors/*
!files/ibge/states/ac/
!files/ibge/cities/ac/
!files/ibge/census-sectors/ac/

# CSV
files/csv/*
!files/csv/AC.csv

# GeoJSON
files/geojson/*

# README.md
!files/geojson/README.md
!files/ibge/states/README.md
!files/ibge/cities/README.md
!files/ibge/census-sectors/README.md

# Folders
files/outputs/*.csv

# VSCode
.vscode/