# Jupyter
.ipynb_checkpoints/

# SQL
sql/export.sql

# SHP
arquivos/ibge/estados/*
arquivos/ibge/municipios/*
arquivos/ibge/setores-censitarios/*
!arquivos/ibge/estados/ac/
!arquivos/ibge/municipios/ac/
!arquivos/ibge/setores-censitarios/ac/

# CSV
arquivos/csv/*
!arquivos/csv/ac/
